<ion-view view-title="Inbox" class="bg-color">
    <ion-content>
        <div class="list card" ng-repeat="invite in invites">

            <div class="item bar bar-header card-header">
                <h2><b>{{invite.get("offer").get("name")}}</b> by {{invite.get("offer").get("owner").get("username")}}</h2>
                <p>{{invite.get("offer").createdAt | date:longDate}}</p>
            </div>

            <div class="item item-body center">
                <p>"{{invite.get("offer").get("description")}}"</p>
                <p>{{invite.get("offer").get("price") | currency}}</p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#" ng-click="acceptOffer(invite, $index)">
                    <i class="icon ion-checkmark-round"></i>
                    Accept
                </a>
                <a class="tab-item" href="#" ng-click="decline($index)">
                    <i class="icon ion-close-round"></i>
                    Decline
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
