<ion-view view-title="Pay For Job" class="bg-color">

    <ion-nav-buttons side="primary">
        <a class="button icon-left ion-chevron-left button-clear button-light"
           ui-sref="app.profile.about.my-offers"></a>
    </ion-nav-buttons>

    <ion-content>
        <!--write comment for job done-->
        <!--comment template-->
        <form ng-submit="doPay(reviewData)">
            <div class="list">
                <label class="item item-input">
                    <input type="text" placeholder="Comment" ng-model="reviewData.comment">
                </label>
                <label class="item item-input">
                    <input type="number" min="1" max="5" placeholder="Rating" ng-model="reviewData.rating">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">
                        Pay {{ offer.get('price') | currency }} to {{ offer.get('acceptedUser').get('username') }}
                    </button>
                </label>
            </div>
        </form>
    </ion-content>

</ion-view>