<ion-view view-title="New Offer" class="bg-color">

    <ion-nav-buttons side="primary">
        <a class="button icon-left ion-chevron-left button-clear button-light"
           ui-sref="app.profile.about.my-wishes"></a>
    </ion-nav-buttons>

    <ion-content>
        <form ng-submit="createNewOffer(newOfferData)">
            <div class="list">
                <!--add picture upload eventually-->
                <label class="item item-input">
                    <input type="text" ng-model="newOfferData.name" placeholder="Name">
                </label>

                <label class="item item-input">
                    <input type="text" ng-model="newOfferData.description" placeholder="Description">
                </label>

                <label class="item item-input">
                    <input type="number" ng-model="newOfferData.price" placeholder="Price">
                </label>

                <div class="item item-toggle">
                    Set To Private
                    <label class="toggle toggle-balanced">
                        <input type="checkbox" ng-checked="false" ng-model="newOfferData.private">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>

                <label class="item">
                    <button class="button button-block button-positive" type="submit">Save</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>


