<ion-view view-title="On Working Offers" class="bg-color">
    <ion-content>
        <div class="list card" ng-repeat="offer in offers">

            <div class="item bar bar-header card-header">
                <h2><b>{{offer.get("name")}}</b> by {{offer.get("owner").get("username")}}</h2>
                <p>by <a href="#">Pesho</a></p>
                <p>{{offer.createdAt | date: longDate}}</p>
            </div>

            <div class="item item-body center">
                <p ng-click="test()">"{{offer.get("description")}}"</p>
                <p>status: <b>{{offer.get("status") | uppercase}}</b></p>
            </div>
        </div>
    </ion-content>
</ion-view>
