<ion-view view-title="About" class="bg-color">
    <ion-content>
        <div id="profile-box" class="row">
            <div class="col ">
                <img ng-src="{{getGravatarUrl()}}" alt=""/>
            </div>
            <div class="col col-75 center">
                <div>{{user.getFullName()}}</div>
                <rating ng-model="rate" max="max"></rating>
                <a class="button" ui-sref="app.edit-profile">Edit Profile</a>
            </div>
        </div>

        <div class="row center">
            <div class="col">
                <a class="button button-block button-positive" ui-sref="app.profile.about.my-wishes">Wishes</a>
            </div>
            <div class="col">
                <a class="button button-block button-positive" ui-sref="app.profile.about.my-offers">Offers</a>
            </div>
        </div>
        <div>
            <ion-nav-view name="mainContent"></ion-nav-view>
        </div>
    </ion-content>
</ion-view>
