<ion-view view-title="History" class="bg-color">
    <ion-content>
        <div class="list card" ng-repeat="offer in offers">
            <div class="item bar bar-header card-header" >
                <h2><b>{{offer.get('name')}}</b> by {{offer.get("owner").get("username")}}</h2>
            </div>

            <div class="item item-body center">
                <p>
                     "{{offer.get("comment")}}"
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <div>
                    <rating max="max" ng-model="offer.get('rating')"></rating>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
