<ion-view view-title="My Wishes" class="bg-color">
    <ion-content>
        <div class="center">
            <a class="button button-balanced" ui-sref="app.new-wish">+Add New Wish</a>
        </div>
        <div class="list card" ng-repeat="wish in wishes">
            <div class="item bar bar-header card-header" >
                <h2><b>{{wish.get('name')}}</b></h2>

            </div>

            <div class="item item-body center">
                <p>"{{ wish.get('description') | limitTo:50 }}"</p>
                <img class="full-image" ng-src="{{wish.get('photo')}}" alt=""/>
                <p>{{wish.createdAt | date:long}}</p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item"
                   ui-sref="app.wish-detail({wishId: wish.id, statePath: 'my-wishes'})">
                    <i class="icon ion-ios-information"></i>
                    Detail
                </a>
            </div>
        </div>
        <div style="height: 220px">

        </div>
    </ion-content>
</ion-view>
